W41_UDPBroadcastReciever_RPSensor/Service References/RPSensorService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AddSensorData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LightData" type="xs:int" />
        <xs:element minOccurs="0" name="TempData" type="xs:int" />
        <xs:element minOccurs="0" name="PotData" type="xs:int" />
        <xs:element minOccurs="0" name="AnalogData" type="xs:int" />
        <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSensorDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSensorDataResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>